importFrom("utils", "head", "str", "capture.output")

S3method(`$`,soil_profile)
S3method(`$<-`,soil_profile)
S3method(`$`,soil_layer)
S3method(`$<-`,soil_layer)
S3method(`[`,soil_profile)
S3method(`[`,soil_layer)
S3method(`[[`,soil_layer)
S3method(`[[<-`,soil_layer)
S3method(print,soil_profile)
S3method(format,soil_profile)
S3method(print,soil_layer)
S3method(format,soil_layer)
S3method(plot,soil_profile)
S3method(plot,soil_layer)
S3method(plot,soil_profile)
S3method(plot,soil_layer)

export(`$<-.soil_profile`)
export(`$.soil_profile`)
export(`$<-.soil_layer`)
export(`$.soil_layer`)
export(`[.soil_profile`)
export(`[.soil_layer`)
export(`[[<-.soil_layer`)
export(`[[.soil_layer`)
export(is.soil_profile)
export(is.soil_layer)
export(soil_profile)
export(soil_layer)
export(print.soil_profile)
export(format.soil_profile)
export(print.soil_layer)
export(format.soil_layer)

export(plot.soil_profile)
export(default_metadata_soil_profile)
export(default_metadata_soil_layer)
